*{
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(#c8eec8,#fff,#40bb40);
}

#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background: radial-gradient(rgb(153, 230, 191),  #76de76);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 30px;
}

#navbar{
 display: flex;
 justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(246, 237, 237);
    transition: 0.5s;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(0, 0, 0);
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(243, 249, 244);
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#char{
    background: radial-gradient(    #fff,  #40bb40);
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   padding: 30px 80px;
   line-height: -20cm;
}
#product{
    text-align: center;
}
#product .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 4px #000000;
    border-radius: 25%;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(178, 205, 163);
    margin: 15px 0;
    transition: 0.2s ease;
}
#product .pro:hover{
    box-shadow: 20px 20px 30px rgb(7, 7, 7);
}
#product .pro img{
    width: 60%;
    border-radius: 20px;
}
#product .pro .des{
  
    padding: 10px 0;
}
#product .pro .des span{
    color: #000000ae;
    font-size: 12px;
} 
#product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
/*#product .pro .des i{
    font-size: 12px;
     color: rgb(243, 181, 25);
}*/
#product .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.photo img{
    border-radius: 50%;
    width: 70% ;
    margin-left: 300px;
    margin-top: 150px;
}
.col{
    padding: 30px;
    margin: 10px;
    line-height: 10mm;
    margin-bottom: 10px;
    color: #fff;
}

.col h4{
    font-size: 60px;
    font-weight: 600;
}
.follow{
    padding: 60px 20px;
    margin: 40px 20px;
    line-height: 10mm;
    color: rgb(255, 255, 255);

    
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: black;
    background-size: 200px;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.copyright{
    align-items:center;
    padding: 10px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;

}
.small-img-grp{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 32%;
    cursor: pointer;
}
 .section-po{
   margin: 200px;
   padding: 2px;
   position: relative;
}