*{
  margin: 0;
  padding: 0;
}
body {
  
  background: radial-gradient(#fff,#40bb40);
}

#header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px 80px;
  background: radial-gradient(rgb(153, 230, 191),  #76de76);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  height: 30px;
}

#navbar{
display: flex;
justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(246, 237, 237);
  transition: 0.5s;
}
#navbar li a:hover,
#navbar li a.active{
  color: rgb(0, 0, 0);
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: rgb(243, 249, 244);
  position: absolute;
  bottom: -4px;
  left: 20px;
}



.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.search-form button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sign-in {
  margin-left: 10px;
  text-decoration: none;
  color: #4caf50;
} 

.blog-page {
  width: 80%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content img {
  width: 30%;
  margin-left: 20px;
}

.content p {
  width: 40%;
  margin: 0 20px;
}

.row:nth-child(2n) h2 {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

.row:nth-child(2n) .content {
  flex-direction: row-reverse;
}

.overall__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* footer */

.col{
  padding: 30px;
  margin: 10px;
  line-height: 10mm;
  margin-bottom: 10px;
  color: #fff;
}

.col h4{
  font-size: 60px;
  font-weight: 600;
}
.follow{
  padding: 60px 20px;
  margin: 40px 20px;
  line-height: 10mm;
  color: rgb(255, 255, 255);

  
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: black;
 
  
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.copyright{
  align-items:center;
  padding: 10px;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;

}
.small-img-grp{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 32%;
  cursor: pointer;
}
.section-po{
 margin: 200px;
 padding: 2px;
 position: relative;
}
.row p{
  font-size: 20px;
}








